In [1]:
import pandas as pd

### Reading data

In [2]:
height_weight_data = pd.read_csv('SOCR-HeightWeight.csv')

height_weight_data.head()

     height    weight
0  65.78331  112.9925
1  71.51521  136.4873
2  69.39874  153.0269
3  68.21660  142.3354
4  67.78781  144.2971

### Changing data

In [7]:
height_weight_data["height_in_cm"] = height_weight_data['height']*2.54

height_weight_data['weight_in_kg'] = height_weight_data["weight"]*0.45

height_weight_data.head(25)

      height     weight  height_in_cm  weight_in_kg
0   65.78331  112.99250    167.089607     50.846625
1   71.51521  136.48730    181.648633     61.419285
2   69.39874  153.02690    176.272800     68.862105
3   68.21660  142.33540    173.270164     64.050930
4   67.78781  144.29710    172.181037     64.933695
5   68.69784  123.30240    174.492514     55.486080
6   69.80204  141.49470    177.297182     63.672615
7   70.01472  136.46230    177.837389     61.408035
8   67.90265  112.37230    172.472731     50.567535
9   66.78236  120.66720    169.627194     54.300240
10  66.48769  127.45160    168.878733     57.353220
11  67.62333  114.14300    171.763258     51.364350
12  68.30248  125.61070    173.488299     56.524815
13  67.11656  122.46180    170.476062     55.107810
14  68.27967  116.08660    173.430362     52.238970
15  71.09160  139.99750    180.572664     62.998875
16  66.46100  129.50230    168.810940     58.276035
17  68.64927  142.97330    174.369146     64.337985
18  71.23033  137.90250    180.925038     62.056125
19  67.13118  124.04490    170.513197     55.820205
20  67.83379  141.28070    172.297827     63.576315
21  68.87881  143.53920    174.952177     64.592640
22  63.48115   97.90191    161.242121     44.055860
23  68.42187  129.50270    173.791550     58.276215
24  67.62804  141.85010    171.775222     63.832545

### Filtering data

In [9]:
tall_people_data = height_weight_data[height_weight_data['height'] / 12 > 6]

tall_people_data.tail(12)

         height    weight  height_in_cm  weight_in_kg
23896  73.38057  154.3189    186.386648     69.443505
23918  72.37914  125.4124    183.843016     56.435580
23956  72.05551  144.0404    183.020995     64.818180
24078  73.22107  136.7360    185.981518     61.531200
24089  72.05565  127.6232    183.021351     57.430440
24198  73.03159  139.2101    185.500239     62.644545
24572  72.39890  144.9316    183.893206     65.219220
24618  72.47908  148.1097    184.096863     66.649365
24801  74.53177  148.9104    189.310696     67.009680
24883  73.06241  141.5054    185.578521     63.677430
24921  72.54953  134.5143    184.275806     60.531435
24939  72.35889  143.9547    183.791581     64.779615

### Writing data

In [11]:
tall_people_data.to